extends layout

block append head
	script(src='/js/client.js')

block content
	include nav

	div(class="container")
		div(class="panel panel-default text-center")
			h2 Active Bundle Generator
		//div(class="panel panel-default")
		div(class="panel panel-primary")
			div(class="panel-heading")
				h3(class="panel-title") Data for Active Bundle
			div(class="panel-body")
				//30 Jan form(class='form-inline top-buffer' method = "POST" action = "/create")
				//- handle button event in client.js
				form(class='form-inline top-buffer' method='post' action='#')
					//uld 31 Jan. form(class='form-inline top-buffer' name='test' method='post' action='#')
					if(message)
						p=message
					else
						label(for='checkbox_all' style='margin-left:570px' ) Select All
						input(type="checkbox", name='checkbox_all', class='checkboxall' , text="Select all data" style='margin-top:10px; margin-left:2px')						
						center
							//scan through all tuples of the DB 'Service_Data'					
							for entry in entries	
								div(class='col-lg-8')
									div(class='form-group')
										label(for='datakey' + entry.id ) Type
											input(name='datakey' + entry.id type='text' id='datkey' + entry.id class='inputkey' + entry.id placeholder=entry.data_key  style='margin-left:10px')
										label(for='datavalue' + entry.id style='margin-left:50px') Content
											input(name='datavalue' + entry.id type='text' id='dataval' + entry.id class='inputval' + entry.id placeholder=entry.data_value style='margin-left:10px')
											input(type="checkbox", name='checkbox_' + entry.id, class='checkbox' + entry.id , text="Include record to AB" style='margin-left:30px')
											//Enable m.b. right to policies, not here. Here we need checkbox 
						div(class='col-xs-3 top-buffer')
								button(type='submit' class='btn btn-primary update-service') Generate Active Bundle
		//Policy section								
		div(class="panel panel-primary")
			div(class="panel-heading")
				h3(class="panel-title") Policies for Active Bundle
			div(class="panel-body" style='margin-top:20px')
				//11 Feb. Error: Cannot read property 'length' of undefined
				//form(class='form-inline top-buffer' method='get' action='#')
				if(message)
					p=message
				else
					//OK button(type="button", class='btn btn-primary pull-up', style='margin-top:10px; margin-bottom:10px' ) Include applicable policies
					button(type="button", class='btn btn-primary', style='margin-bottom:10px' ) Include applicable policies
					div(class="panel-group" id="accordion_p")
						div(class="panel panel-default", id='pol_panel')
							for tuple in entries_pol
								div(class="panel-heading")
									h4
										input(type='checkbox', name='chk_pol' + tuple.id, class='checkboxpol' + tuple.id, text='Enable policy for AB', style='margin-left:20px')
										label(name='policy' + tuple.id id='pol' + tuple.id class='policy_'  + tuple.id placeholder=tuple.policy style='margin-left:10px; font-size:15px ' ) tuple.policy
										//11 Feb. - add labels for rating for every policy
										//11 Feb. For policy 1 - add label for credit limit 
										//label(name='policy' + tuple.id id='pol' + tuple.id class='policy_'  + tuple.id placeholder=tuple.policy style='margin-left:10px; font-size:15px ' ) tuple.policy
								div(class='panel-body')