extends layout

block append head
	script(src='/js/client.js')

block content
	include nav

	div(class="container")
		div(class="panel panel-default text-center")
			h2 Active Bundle Generator
		//div(class="panel panel-default")
		div(class="panel panel-primary")
			div(class="panel-heading")
				h3(class="panel-title") Data for Active Bundle
			div(class="panel-body")
				//30 Jan form(class='form-inline top-buffer' method = "POST" action = "/create")
				//- handle button event in client.js
				form(class='form-inline top-buffer' method='post' action='#')
					//uld 31 Jan. form(class='form-inline top-buffer' name='test' method='post' action='#')
					if(message)
						p=message
					else
						label(for='checkbox_all' style='margin-left:570px' ) Select All
						input(type="checkbox", name='checkbox_all', class='checkboxall', text="Select all data" style='margin-top:10px; margin-left:2px')
						center
							//scan through all tuples of the DB 'Service_Data'
							for entry in entries
								div(class='col-lg-8')
									div(class='form-group')
										label(for='datakey' + entry.id ) Type
											input(name='datakey' + entry.id type='text' id='datkey' + entry.id class='inputkey' + entry.id placeholder=entry.data_key  style='margin-left:10px')
										label(for='datavalue' + entry.id style='margin-left:50px') Content
											input(name='datavalue' + entry.id type='text' id='dataval' + entry.id class='inputval' + entry.id placeholder=entry.data_value style='margin-left:10px')
											input(type="checkbox", name='checkbox_' + entry.id, class='checkbox' + entry.id , text="Include record to AB" style='margin-left:30px')
											//Enable m.b. right to policies, not here. Here we need checkbox 
						div(class='col-xs-3 top-buffer')
								button(type='submit' class='btn btn-primary update-service') Generate Active Bundle
		//Policy section								
		div(class="panel panel-primary")
			div(class="panel-heading")
				h3(class="panel-title") Policies for Active Bundle
			div(class="panel-body" style='margin-top:20px')
				//11 Feb. Error: Cannot read property 'length' of undefined
				//form(class='form-inline top-buffer' method='get' action='#')
				if(message)
					p=message
				else
					//OK button(type="button", class='btn btn-primary pull-up', style='margin-top:10px; margin-bottom:10px' ) Include applicable policies
					//28 Feb. button(type="button", class='btn btn-primary', style='margin-bottom:10px' ) Include applicable policies
					div(class="panel-group" id="accordion_p")
						div(class="panel panel-default", id='pol_panel')
							//newly added table, 20 Mar. 
							div(class="panel-body")
								table(class="table table-striped table-hover")
									tr
										th Select
										th ID
										th Policy
										th Resource
										th Rules
										th Subject
										th Misc
									for tuple in entries_pol
										tr
											td 
												input(type='checkbox', name='chk_pol' + tuple.id, class='checkboxpol' + tuple.id, text='Enable policy for AB', style='margin-left:5px')
											td=tuple.id	
											td=tuple.policy
											td=tuple.resource
											td
												label(name=tuple.rules id='pol' + tuple.id class='policy_'  + tuple.id placeholder=tuple.policy  style='margin-left:1px' ) Minimum rating: 
												select(id='req-data' + tuple.id class='dropdown' + tuple.id, style='margin-left:10px; font-size:15px')
											td
												select(id='srv-name' class='form-control')
													for srv_name in entries_srv
														option=srv_name.display_name
											td
												if (tuple.id == 1)
													label(for='credlimit' + tuple.id style='margin-left:5px') Credit Limit
													input(name='credlimit' + tuple.id type='text' id='credlim' + tuple.id class='credlimit' + tuple.id placeholder=tuple.rules  style='margin-left:5px; font-size:15px')
							// worked until 20 Mar. Now the same functionality
							// //is implemented in the table above							
							// for tuple in entries_pol
							// 	div(class="panel-heading")
							// 		h4
							// 			input(type='checkbox', name='chk_pol' + tuple.id, class='checkboxpol' + tuple.id, text='Enable policy for AB', style='margin-left:20px')
							// 			//OK 12 Feb. label(name='policy' + tuple.id id='pol' + tuple.id class='policy_'  + tuple.id placeholder=tuple.policy + ' ; ' + tuple.rules style='margin-left:10px; font-size:15px ' ) tuple.policy
							// 			label(name=tuple.policy  id='polres' + tuple.id class='policy_res_' + tuple.id  placeholder=tuple.resource  style='margin-left:10px; font-size:15px ' ) Policy text
							// 			label(name=tuple.rules id='pol' + tuple.id class='policy_'  + tuple.id placeholder=tuple.policy  style='margin-left:40px; font-size:15px ' ) Policy rules
							// 			select(id='req-data' + tuple.id class='dropdown' + tuple.id, style='margin-left:10px; font-size:15px')
							// 			div(class='form-group')
							// 				label(for='srv-name' class='col-sm-2 control-label') Subject
							// 				div(class='col-xs-3')
							// 					select(id='srv-name' class='form-control')
							// 						for srv_name in entries_srv
							// 							option=srv_name.display_name	
							// 			if (tuple.id == 1)
							// 				label(for='credlimit' + tuple.id style='margin-left:50px; font-size:15px') Credit Limit
							// 				input(name='credlimit' + tuple.id type='text' id='credlim' + tuple.id class='credlimit' + tuple.id placeholder=tuple.rules  style='margin-left:5px; font-size:15px')