doctype html
html(lang='en')
	head
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='utf-8', name='viewport', content='width=device-width, initial-scale=1.0')
		title Active Bundle Console
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
		link(rel='stylesheet' href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')
		script(src='//code.jquery.com/jquery-1.10.2.min.js')
		script(src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
		script(src='./js/jsplumb/jquery.jsPlumb-1.5.5-min.js')
		script(src='./js/scenario.js')
		link(rel='stylesheet', href='./css/scenario.css')

	body
		include nav
		div(id='scenario_id', style='visibility:hidden;')=id			
		div(class='container')
			div(class='col-md-12')
				div(class='panel panel-default text-center')
					h3=name
			div(class='col-md-8')
				//Scenario topology
				div(class='panel panel-default')
					div(class='panel-heading text-center')
						h4 Scenario Topology
					div(class='panel-body')
						div(id='main')
							div(id='scenario-container', class='scenario-container')
								for service in services
									div(class='w', id='service' + service.id)=service.display_name
										div(style='color:red')
											strong=service.trust_level
										div(id='logid_' + service.id class='log_data')='Logs'
										div(class='ep')
			if (name == "Online Shopping Scenario")
				div(class='col-md-4')
					div(class='panel panel-default')
						div(class='panel-heading text-center')
							h4 Access Endpoints
						div(class='panel-body')
							div(class='row')
								div(class='col-md-8')=access_url
								div(class='col-md-4')
									button(class='btn btn-primary try-it', data-link=access_url) Try It
			div(class='col-md-4')
				div(class='panel panel-default')
					div(class='panel-heading text-center')
						h4 Scenario Configuration
					div(class='panel-body')
						div(class='input-group')
							for service in services
								div(class='row top-buffer')
									div(id=service.status, class='col-md-2 svc_status')=service.status
									div(id=service.status + '_' + service.id, class='col-md-5 svc_name')=service.display_name
									if (name == "Healthcare Scenario")
										button(id="svc_get_" + service.id, type='submit' class='btn btn-primary get-ab' style='margin-right:2px') GET
										button(id="svc_post_" + service.id, type='submit' class='btn btn-primary post-ab-data' style='margin-right:10px') POST
										if (service.id == 6)
											input(name='doctdatakey_a' + service.id type='text' id='doctdatkey_a' + service.id class='doctinputkey_a' + service.id placeholder='Test prescription'  style='margin-left:20px')
											br
											input(name='doctdatakey_b' + service.id type='text' id='doctdatkey_b' + service.id class='doctinputkey_b' + service.id placeholder='Prescription'  style='margin-left:20px')
										else if (service.id == 7)
											input(name='labdatakey' + service.id type='text' id='labdatkey' + service.id class='labinputkey' + service.id placeholder='Blood sugar'  style='margin-left:20px')
										else if (service.id == 8)
											input(name='patientdatakey' + service.id type='text' id='patientdatkey' + service.id class='patinputkey' + service.id placeholder='Name'  style='margin-left:20px')
										hr(style='width: 100%; color: #e0e0e0; height: 1px; background-color:#e0e0e0; margin-bottom:1px')
									//need sliders for trust level only in online shopping scenario
									if (name == "Online Shopping Scenario")
										div(class='col-md-5')
											div(class='slider', id=service.id value=service.trust_level)
							div(class='row top-buffer')
								center
									div(class='col-md-6')
										div
											button(id='btn_toggle_svc', class='btn btn-danger svc_toggle') Stop
									if (name != "Healthcare Scenario")		
										div(class='col-md-6')
											button(id='btn_update_tl', class='btn btn-default') Update