doctype html
html(lang='en')
	head
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='utf-8', name='viewport', content='width=device-width, initial-scale=1.0')
		title Active Bundle Console
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
		link(rel='stylesheet' href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')
		script(src='//code.jquery.com/jquery-1.10.2.min.js')
		script(src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
		script(src='./js/jsplumb/jquery.jsPlumb-1.5.5-min.js')
		script(src='./js/scenario.js')
		link(rel='stylesheet', href='./css/scenario.css')
		link(rel='stylesheet', href='https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css')
		script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')

	body
		include nav
		div(id='scenario_id', style='visibility:hidden;')=id			
		div(class='container')
			div(class='col-md-12')
				div(class='panel panel-default text-center')
					h3=name
			div(class='col-md-8')
				//Scenario topology
				div(class='panel panel-default')
					div(class='panel-heading text-center')
						h4 Scenario Topology
					div(class='panel-body')
						div(id='main')
							div(id='scenario-container', class='scenario-container')
								for service in services
									div(class='w text-info', id='service' + service.id)=service.display_name
										//	strong=service.trust_level
										div(id='logid_' + service.id class='log_data' style='color:red;font-size:12px;')
										div(class='ep')
			if (name == "Online Shopping Scenario")
				div(class='col-md-4')
					div(class='panel panel-default')
						div(class='panel-heading text-center')
							h4 Access Endpoints
						div(class='panel-body')
							div(class='row')
								div(class='col-md-8')=access_url
								div(class='col-md-4')
									button(class='btn btn-primary try-it', data-link=access_url) Try It
			div(class='col-md-4')
				div(class='panel panel-default')
					div(class='panel-heading text-center')
						h4 Scenario Configuration
					div(class='panel-body')
						div(class='input-group')
							for service in services
								div(class='row' style='margin-top:12px')
									div(id=service.status, class='col-md-2 svc_status' style='margin-bottom:0px')=service.status
									div(id=service.status + '_' + service.id, class='col-md-5 svc_name' style='margin-bottom:2px')=service.display_name
									div(class='col-md-5')
										div(class='slider', id=service.id value=service.trust_level style='margin-bottom:14px; margin-left:-30px')
									if (name == "Healthcare Scenario")
										if (service.id != 5)
											br
											div(class='row')
												div(class='col-md-6')
													select(id='srv-name-get' + service.id class='form-control' style='margin-left:52px; margin-top:0px')
												div(class='col-md-6')
													button(id='svc_get_' + service.id, type='submit' class='btn btn-primary hlt-ab', data-link=service.url, style='margin-left:40px; margin-top:0px') GET
										if (service.id == 6)
											div(class='row')
												div(class='col-md-6')
													input(name='doctdatakey_a' + service.id type='text' id='doctdatkey_a' + service.id class='form-control doctinputkey_a' + service.id placeholder='Test prescription'  style='margin-left:52px; margin-top:4px;')
												div(class='col-md-6')
													button(id="svc_post_" + service.id, type='submit' class='btn btn-primary hlt-ab', data-link=service.url, style='margin-top:4px; margin-left:40px') POST
												br
												div(class='col-md-6')
													input(name='doctdatakey_b' + service.id type='text' id='doctdatkey_b' + service.id class='form-control doctinputkey_b' + service.id placeholder='Prescription'  style='margin-left:52px; margin-top:4px; margin-bottom:0px')
										else if (service.id == 7)
											div(class='row')
												div(class='col-md-6')
													input(name='labdatakey' + service.id type='text' id='labdatkey' + service.id class='form-control labinputkey' + service.id placeholder='Test results'  style='margin-left:52px; margin-top:4px; margin-bottom:0px')
												div(class='col-md-6')
													button(id="svc_post_" + service.id, type='submit' class='btn btn-primary hlt-ab', data-link=service.url, style='margin-top:4px; margin-left:40px; margin-bottom:0px') POST
										if (service.id == 5)
											div(class='row' style='margin-bottom:2px')
										hr(style='width: 100%; color: #e0e0e0; height: 1px; background-color:#e0e0e0; margin-bottom:1px; margin-top:15px')
							div(class='row' style='margin-top:10px;')
								div(class='col-md-4')
									button(id='btn_toggle_svc', class='btn btn-danger svc_toggle' style='margin-bottom:4px') Stop
								div(class='col-md-4')
									button(id='btn_update_tl', class='btn btn-default' style='margin-bottom:4px') Update
								div(class='col-md-4')
									button(id='btn_view_ab', class='btn btn-default' style='margin-bottom:4px') AB Viewer
							div(class='row' style='margin-top:10px;')
								div(class='col-md-6')
									label(class='checkbox-inline crypcaplabel' style='margin-left:-20px; margin-top:7px') Crypto Capability
								div(class='col-md-6')
									select(id='cryptocap' class='form-control' style='margin-left:-20px; margin-top:0px; margin-bottom:5px')
										//for srv_name in services
										//	option=srv_name.display_name
							div(class='row' style='margin-top:6px;')
								div(class='col-md-5')
									label(class='checkbox-inline tamper' style='margin-left:-20px; margin-top:5px') Tamper  Attack
								div(class='col-md-4')
									input(type='checkbox' id='tamper_attack' class='tamperatck' data-toggle='toggle' data-onstyle='danger')
							if (name == "Healthcare Scenario")
								div(class='row' style='margin-top:8px;')
									div(class='col-md-5')
										label(class='checkbox-inline emerg' style='margin-left:-20px; margin-top:5px') Emergency
									div(class='col-md-4')
										input(type='checkbox' id='emergency' class='emrgcontext' data-toggle='toggle' data-onstyle='danger')
							