doctype html
html(lang='en')
	head
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='utf-8', name='viewport', content='width=device-width, initial-scale=1.0')
		title Active Bundle Console
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
		link(rel='stylesheet' href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')
		script(src='//code.jquery.com/jquery-1.10.2.min.js')
		script(src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
		script(src='./js/jsplumb/jquery.jsPlumb-1.5.5-min.js')
		script(src='./js/scenario.js')
		link(rel='stylesheet', href='./css/scenario.css')
		link(rel='stylesheet', href='https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css')
		script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js')

	body
		include nav
		div(id='scenario_id', style='visibility:hidden;')=id			
		div(class='container')
			div(class='col-md-12')
				div(class='panel panel-default text-center')
					h3=name
			div(class='col-md-8')
				//Scenario topology
				div(class='panel panel-default')
					div(class='panel-heading text-center')
						h4 Scenario Topology
					div(class='panel-body')
						div(id='main')
							div(id='scenario-container', class='scenario-container')
								for service in services
									div(class='w text-info', id='service' + service.id)=service.display_name
										//div(style='color:red')
										//	strong=service.trust_level
										div(id='logid_' + service.id class='log_data')
										div(class='ep')
			if (name == "Online Shopping Scenario")
				div(class='col-md-4')
					div(class='panel panel-default')
						div(class='panel-heading text-center')
							h4 Access Endpoints
						div(class='panel-body')
							div(class='row')
								div(class='col-md-8')=access_url
								div(class='col-md-4')
									button(class='btn btn-primary try-it', data-link=access_url) Try It
			div(class='col-md-4')
				div(class='panel panel-default')
					div(class='panel-heading text-center')
						h4 Scenario Configuration
					div(class='panel-body')
						div(class='input-group')
							for service in services
								div(class='row top-buffer')
									div(id=service.status, class='col-md-2 svc_status')=service.status
									div(id=service.status + '_' + service.id, class='col-md-5 svc_name')=service.display_name
									if (name == "Healthcare Scenario")
										//not Hospital service
										if (service.id != 5)
											div(class='col-md-6')
												select(id='srv-name-get' + service.id class='form-control')
											button(id='svc_get_' + service.id, type='submit' class='btn btn-primary hlt-ab', data-link=service.url, style='margin-right:4px') GET	
										if (service.id != 5)
											if (service.id != 8)
												if (service.id != 9)	
													button(id="svc_post_" + service.id, type='submit' class='btn btn-primary hlt-ab', data-link=service.url, style='') POST
										if (service.id == 6)
											div(class='col-md-8')
												input(name='doctdatakey_a' + service.id type='text' id='doctdatkey_a' + service.id class='form-control doctinputkey_a' + service.id placeholder='Test prescription'  style='margin-left:0px; margin-top:4px;')
											br
											div(class='col-md-8')
												input(name='doctdatakey_b' + service.id type='text' id='doctdatkey_b' + service.id class='form-control doctinputkey_b' + service.id placeholder='Prescription'  style='margin-left:0px; margin-top:4px; margin-bottom:4px')
										else if (service.id == 7)
											div(class='col-md-8')
												input(name='labdatakey' + service.id type='text' id='labdatkey' + service.id class='form-control labinputkey' + service.id placeholder='Test results'  style='margin-left:0px; margin-top:4px; margin-bottom:4px')
										hr(style='width: 100%; color: #e0e0e0; height: 1px; background-color:#e0e0e0; margin-bottom:1px')
									//need sliders for trust level only in online shopping scenario
									if (name != "Healthcare Scenario")
										div(class='col-md-5')
											div(class='slider', id=service.id value=service.trust_level)
							div(class='row top-buffer')
								center
									div(class='col-ms-8')
										div
											button(id='btn_toggle_svc', class='btn btn-danger svc_toggle' style='margin-right:10px; margin-bottom:8px') Stop
											br
											label(class='checkbox-inline tamper' style='margin-right:7px') Attack
											input(type='checkbox' id='tamper_attack' class='tamperatck' data-toggle='toggle' data-onstyle='danger')
											label(class='checkbox-inline emerg' style='margin-right:7px') Emergency
											input(type='checkbox' id='emergency' class='emrgcontext' data-toggle='toggle' data-onstyle='danger')
									if (name != "Healthcare Scenario")		
										div(class='col-md-6')
											button(id='btn_update_tl', class='btn btn-default') Update